@import "node_modules/bootstrap/scss/bootstrap";

$white: #FFFFFF;
$offwhite: #ebebeb;
$darkblue: #014182;
$blue: #729aca;
$blue2: #08335e;
$orange: #e16f05;
$orange2: #f9960b;
$orange3:#f5b55b;
$h1: 2.8rem;
$h2: 2rem;
$h3: 1.2rem;

h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}

//main content

//MAIN-HEADER--------------------------
.main-header{
  display: flex;
  height: 20vmin;
  background-color: $white;
}
// Header
.site-header {
  width: 38%;
  color: $darkblue;

  .site-logo {
    height: 80%;
  }
}

//Navbar
.navbar {
  width: 62%;
  padding-right: 0;
}

#basic-navbar-nav {
  background-color: $darkblue;
  .navbar-nav {
    justify-content: flex-end;
    .navbar-link,
    .nav-link {
      margin: 0 15px;
      color: $white;
      &:hover {
        color:$orange2;
        border: none;
      }
    }
    .dropdown-item{
      color: $darkblue;
      margin: 0;
    }
  }
}
//END MAIN-HEADER-------------------------------

//carousel
.home-carousel {
  border-left: none;
  border-right: none;
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    background-color: $blue;
  }
  img {
    object-position: 50% 50%;
    object-fit: cover;
    max-height: 500px;
  }
}

// ABOUT--------------------------------------------

.heading {
  height: 60px;
  background-color: $blue2;
  color: $orange3;
}

.our-promise {
  height: 200px;
  color: black;
  background-color:$offwhite;
  .text-wrap {
    font-size: 1.1rem;
    border-left: 3px solid $orange;
    width: 60%;
  }
}

//END ABOUT----------------------------------------

// PAGE
.page-header {

  box-shadow: 2px 5px 8px 5px rgba(0,0,0,.3) inset;
  height: 200px;
  color: $white;
  background-image: url("./../imgs/classroom.JPG");
  background-size: cover;
  background-position: top;
  .page-h1 {
    text-align: right;
    border-right: 3px solid $orange;
  }
}
.page-subheader {
  color: $darkblue;
}
.page-description {
  color: $darkblue;
  text-align: center;
  h3{
    border-radius: 15px;
  }
}
.check {
  max-height: 3rem;
}
.classes {
  text-align: center;

  .list-header {
    background-color: $offwhite;
    color: $darkblue;
    padding: 3px;
  }
  ul {
    padding: 15px;
    width: 250px;
    border: 1px solid $offwhite;
    border-top: none;
    border-bottom: none;
  }
  li {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    span {
      font-size: .8rem;
    }
  }
}
// END PAGE

.subject-page,
.test-page {
  background-color: $white;
  .contact-us-button {
    color: $darkblue;
    background-color: $white;
    border-top: 2px solid $offwhite;
  }
}

.contact-button {
  margin: 10px;
  font-size: 1.5rem;
  background-color: $orange2;
  color: $white;
  &:hover {
    background-color: $orange;
    color:$white;
  }
}

//CONTACT------------------------------------------

.contact-page {
  .contact-header {
    border-radius: 15px;
    h1 {
      color: $darkblue;
    }
    h2 {
      color: $orange;
    }
  }

  .contact-right-column {
    .info-header {
      width: 100%;
      text-align: center;
      background-color: $offwhite;
    }
    .contact-form {
      width: 100%;
    }
  }
}

//END CONTACT---------------------------------------

//FOOTER ---------------------------------------------
.footer {
  height: 60px;
  background-color: $darkblue;
  color: $white;
  h3 {
    width: 50%;
  }
  p {
    font-size: .8rem;
    text-align: right;
  }
}

//END FOOTER------------------------------------------
